body {
  overflow-x: hidden;
}

nav {
  display: flex;
  background-color: var(--background-color);
  border-bottom: var(--border-width) solid var(--border-color);
}

body > nav {
  position: relative;
  left: calc(-50vw + 50%);
  width: 100vw;
}

nav ul {
  padding-left: 0;
}

body > nav > ul {
  width: calc(var(--max-body-width) + 2rem);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 0.5rem auto;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav > ul > li {
  padding: 0.5rem;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  white-space: nowrap;
}

nav ul li ul {
  position: absolute;
  left: -9999px;
  z-index: 1;
  min-width: calc(100% + var(--border-width) * 2);
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  margin-left: calc(-0.5rem - var(--border-width));
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

nav ul li ul li {
  width: 100%;
}

/* stylelint-disable-next-line
  selector-max-compound-selectors,
  selector-max-type
  -- this HAS to be this complex */
nav ul li ul li ul {
  min-width: calc(100% + 1rem + var(--border-width) * 2);
  margin-top: 0.75rem;
}

nav :focus ~ ul,
nav :focus ~ ul ul,
nav ul ul:focus-within,
nav ul li:hover ul {
  left: initial;
}

nav li > *:not(ul, a, :only-child) {
  cursor: default;
}

nav li > *:not(ul, :only-child)::after {
  content: " ▾";
}
